# Ignore root lockfile
/package-lock.json

# Ignore build folders
dist/
build/

# Ignore node modules except approuter's
node_modules/

# Allow approuter's lockfile
!approuter/package-lock.json
node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp