name: UI5 Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    name: UI5 Build Job
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Install UI5 CLI
        run: npm install --global @ui5/cli

      - name: Build UI5 App
        run: ui5 build --all

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ui5-dist
          path: dist